<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>imageList</key>
	<array>
		<dict>
			<key>width</key>
			<integer>640</integer>
			<key>height</key>
			<integer>960</integer>
			<key>url</key>
			<string>http://img1.anyouhui.com/0x0/201202/69/anyouhui682224f35907f49ae9.jpg</string>
			<key>title</key>
			<string>风景1</string>
			<key>mess</key>
			<string>风景图片－1</string>
		</dict>
		<dict>
			<key>width</key>
			<integer>960</integer>
			<key>height</key>
			<integer>640</integer>
			<key>url</key>
			<string>http://img1.anyouhui.com/0x0/201208/114/anyouhui11339550212f7e9a81f.jpg</string>
			<key>title</key>
			<string>风景2</string>
			<key>mess</key>
			<string>风景图片－2</string>
		</dict>
		<dict>
			<key>width</key>
			<integer>640</integer>
			<key>height</key>
			<integer>1136</integer>
			<key>url</key>
			<string>http://img4.duitang.com/uploads/item/201303/06/20130306173446_3hdn4.jpeg</string>
			<key>title</key>
			<string>风景3</string>
			<key>mess</key>
			<string>风景图片－3</string>
		</dict>
		<dict>
			<key>width</key>
			<integer>640</integer>
			<key>height</key>
			<integer>1136</integer>
			<key>url</key>
			<string>http://img4.duitang.com/uploads/item/201303/06/20130306173446_3hdn4.jpeg</string>
			<key>title</key>
			<string>风景3</string>
			<key>mess</key>
			<string>风景图片－3</string>
		</dict>
		<dict>
			<key>width</key>
			<integer>640</integer>
			<key>height</key>
			<integer>960</integer>
			<key>url</key>
			<string>http://img1.anyouhui.com/0x0/201202/69/anyouhui682224f35907f49ae9.jpg</string>
			<key>title</key>
			<string>风景1</string>
			<key>mess</key>
			<string>风景图片－1</string>
		</dict>
		<dict>
			<key>width</key>
			<integer>960</integer>
			<key>height</key>
			<integer>640</integer>
			<key>url</key>
			<string>http://img1.anyouhui.com/0x0/201208/114/anyouhui11339550212f7e9a81f.jpg</string>
			<key>title</key>
			<string>风景2</string>
			<key>mess</key>
			<string>风景图片－2</string>
		</dict>
		<dict>
			<key>width</key>
			<integer>640</integer>
			<key>height</key>
			<integer>1136</integer>
			<key>url</key>
			<string>http://img4.duitang.com/uploads/item/201303/06/20130306173446_3hdn4.jpeg</string>
			<key>title</key>
			<string>风景3</string>
			<key>mess</key>
			<string>风景图片－3</string>
		</dict>
		<dict>
			<key>width</key>
			<integer>960</integer>
			<key>height</key>
			<integer>640</integer>
			<key>url</key>
			<string>http://img1.anyouhui.com/0x0/201208/114/anyouhui11339550212f7e9a81f.jpg</string>
			<key>title</key>
			<string>风景2</string>
			<key>mess</key>
			<string>风景图片－2</string>
		</dict>
		<dict>
			<key>width</key>
			<integer>640</integer>
			<key>height</key>
			<integer>1136</integer>
			<key>url</key>
			<string>http://img4.duitang.com/uploads/item/201303/06/20130306173446_3hdn4.jpeg</string>
			<key>title</key>
			<string>风景3</string>
			<key>mess</key>
			<string>风景图片－3</string>
		</dict>
		<dict>
			<key>width</key>
			<integer>640</integer>
			<key>height</key>
			<integer>1136</integer>
			<key>url</key>
			<string>http://img4.duitang.com/uploads/item/201303/06/20130306173446_3hdn4.jpeg</string>
			<key>title</key>
			<string>风景3</string>
			<key>mess</key>
			<string>风景图片－3</string>
		</dict>
		<dict>
			<key>width</key>
			<integer>640</integer>
			<key>height</key>
			<integer>1136</integer>
			<key>url</key>
			<string>http://img4.duitang.com/uploads/item/201303/06/20130306173446_3hdn4.jpeg</string>
			<key>title</key>
			<string>风景3</string>
			<key>mess</key>
			<string>风景图片－3</string>
		</dict>
		<dict>
			<key>width</key>
			<integer>960</integer>
			<key>height</key>
			<integer>640</integer>
			<key>url</key>
			<string>http://img1.anyouhui.com/0x0/201208/114/anyouhui11339550212f7e9a81f.jpg</string>
			<key>title</key>
			<string>风景2</string>
			<key>mess</key>
			<string>风景图片－2</string>
		</dict>
		<dict>
			<key>width</key>
			<integer>640</integer>
			<key>height</key>
			<integer>1136</integer>
			<key>url</key>
			<string>http://img4.duitang.com/uploads/item/201303/06/20130306173446_3hdn4.jpeg</string>
			<key>title</key>
			<string>风景3</string>
			<key>mess</key>
			<string>风景图片－3</string>
		</dict>
		<dict>
			<key>width</key>
			<integer>640</integer>
			<key>height</key>
			<integer>1136</integer>
			<key>url</key>
			<string>http://img4.duitang.com/uploads/item/201303/06/20130306173446_3hdn4.jpeg</string>
			<key>title</key>
			<string>风景3</string>
			<key>mess</key>
			<string>风景图片－3</string>
		</dict>
		<dict>
			<key>width</key>
			<integer>640</integer>
			<key>height</key>
			<integer>960</integer>
			<key>url</key>
			<string>http://img1.anyouhui.com/0x0/201202/69/anyouhui682224f35907f49ae9.jpg</string>
			<key>title</key>
			<string>风景1</string>
			<key>mess</key>
			<string>风景图片－1</string>
		</dict>
		<dict>
			<key>width</key>
			<integer>960</integer>
			<key>height</key>
			<integer>640</integer>
			<key>url</key>
			<string>http://img1.anyouhui.com/0x0/201208/114/anyouhui11339550212f7e9a81f.jpg</string>
			<key>title</key>
			<string>风景2</string>
			<key>mess</key>
			<string>风景图片－2</string>
		</dict>
	</array>
</dict>
</plist>
